.service-area {

    .service-area__wrap {
        padding: 100px 60px;
        background: #f3f8fc;
        border-radius: 20px;
    }

    .service-area__content {
        h2 {
            color: #303443;
            font-weight: 700;
            font-size: 47px;
            line-height: 62px;
        }

        p {
            color: #687693;
            font-size: 16px;
            line-height: 1.8em;
            margin-bottom: 12px;
        }

        a {
            color: white;
          
            background: #fc4c4c;
            border: 0;
            border-radius: 6px;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 45px;
            position: relative;
            text-transform: capitalize;
            margin-bottom: 20px;
            &:hover {
                color: white;
                background: #fc3333;
            }
        }
    }

    
    @media only screen and  (max-width: 800px) {
        .service-area__wrap {
            padding: 50px 20px;
        }

        .service-area__content {
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }

    }
}