.view-cart {
    position: fixed;
    z-index: 1001;
    top:0;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 320px;
    opacity: 1;
    // opacity: 0.5;
    // animation: ex 1s;
    transition:  all 0.5s;
    box-shadow: -2px 18px 40px -9px #999;
}

.view-cart__close {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    div {
        cursor: pointer;
    }
}

.view-cart__items {
    text-align: center;
    margin-top: 30px;
    height: calc(100% - 146px - 50px - 50px);
    overflow-y: scroll;


    &::-webkit-scrollbar { 
        width: 0 !important;
        display: none; 
      }


    .view-cart__items--no-item {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        color: #fc4c4c;
    }
}

.view-cart__item{
    position: relative;
    margin: 30px 2px;

    

    .view-cart__item--img {
        img {
            width: 100%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 75%;
        color: #33333321;
        border: 0.5px solid;
        bottom: -30%;
        transform: translateX(17%);
    }

    .view-cart__item--description {
        p {
            color: #303443;
            font-size: 15px;
            font-weight: 500;
        }
        span {
            color: #888;
            font-size: 13px;
        }
    }
}

.view-cart__item--close {
    cursor: pointer;
    svg:hover{
        background:#bb2d3b
    }
}

.view-cart__checkout {
    margin: 0 45px;
    height: 146px;
}

.view-cart__checkout--total {
    span {
        color: #303443;
        font-size: 16px;
        font-weight: 600;
        span {
            color: #fc4c4c;
            font-size: 20px;
        }
    }
}

.view-cart__checkout--btn {
    a {
        color: white;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            color: white;
        }
    }


    

    .view-cart__checkout--btn--checkout {
        padding: 12px 10px;
        background: #ddd;
        border-radius: 6px;
        margin: 10px 0;
        &:hover {
            background-color: #c9c9c9;
        }
    }

    .view-cart__checkout--btn--viewcart {
        padding: 12px 10px;
        background: #fc4c4c;
        border-radius: 6px;
    
        &:hover {
            background-color: #fb2424;
        }
    }
}

@media only screen and (max-width: 700px) {
    .view-cart {
        width: 100%;
    }
}