.swiper-slide1 {
    // height: 900px;
    .swiper-button-next {
        background-image: url('../../../assets/images/right-arrow.png');
        right: 30px;
        // display: none;
    }
    
    .swiper-button-prev {
        background-image: url('../../../assets/images/left-arrow.png');
        left: 30px;
    }

    .swiper-button-next,
    .swiper-button-prev {

        background-color: hsla(0,0%,100%,.2);
        
        width: 60px;
        height: 60px;
        border: 2px solid #fff;
        &:hover{
            opacity: 0.9;
            // border-color: rgba($color: #fff, $alpha: 0.9);
        }
    }
}
.slide {
    max-height: 900px;
    // height: 900px;
    background-color: black;
    opacity: 0.95;
    position: relative;

    .slide__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #040128;
        opacity: 0.8;
        z-index: 100;
    }
}


.slide__bg--content {
    padding: 190px 400px 0px 180px;
    h2 {
        color: #fff;
        font-size: 100px;
        line-height: 120px;
        margin-bottom: 80px;
    }

    a{
        color: white;
        background: #fc4c4c;
        font-size: 16px;
        padding: 16px 43px;
        border-radius: 10px;

        &:hover {
            color: white;
            background: #fc3333;
        }
    }
    
}
