.header {
    z-index: 111111;
    height: 90px;
    background-color: transparent;
    /* background-color: #303442; */
    position: fixed;
    right: 0;
    left: 0;
    border: 1px solid rgba(255,255,255,0.1);

    .header__wrapper {
        margin: 0 40px;
    }
}

.header__wrapper__img {
    width: 200px;
    img {
        width: 100%;
    }
}

.header__wrapper__menu {
    color: white;
    svg {
        cursor: pointer;
    }
}

.header__wrapper__nav {
    display: flex !important;
    a {
        font-size: 20px;
        margin: 0 10px;
        font-family: 'roboto mono';
        
        &:hover {
            font-weight: 500;
            // color: red !important;
            border-bottom: 1px solid
        }
    }

}

.header__wrapper__icon {
    .header__wrapper__icon__search {
       
    }
}


.header__wrapper__icon--btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
        cursor: pointer;
    i {
        font-size: 2.5rem;
    }
}

.header__wrapper__icon__login {
    display: flex;
    align-items: center;
    h2 {
        color: white;
        font-size: 15px;
    }
}

.header__wrapper__icon__tumbler {
    position: relative;
    margin-right: 10px;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 34px;
    .tumbler {
        position: absolute;
       
        border-radius: 50%;
        background-color: #fff;
        transition: transform 0.5s, background-color 0.5s;
        will-change: transform;
    
        transform: translateX(-20px);
    }
    .tumbler.tumbler--dark-mode {
        transform: translateX(calc(100% - 11px))
    }
}







@media only screen and (min-width: 1201px) {
    .header__wrapper__img {
        width: 250px !important;
    }
    .header__wrapper__menu {
        display: none;
    }
    .header__wrapper__icon__tumbler {
        width: 90px;
        display: flex;
        justify-content: space-around;
        .tumbler {
            height: 30px;
            width: 30px;
        }
    }
}
//tablet moblie
@media only screen and (max-width: 1200px) {
    // .header {
    //     height: 100px;
    // }
    .header__wrapper__nav, .header__wrapper__icon__search, .header__wrapper__icon__tumbler {
        display: none !important;
      }
    .header__wrapper__icon__login {
        display: none !important;
    }
    .header {
        .header__wrapper {
        margin: 0 10px;
        }
    }
    .header__wrapper__icon__tumbler {
        width: 60px;
        display: flex;
        justify-content: space-around;
        .tumbler {
            height: 25px;
            width: 25px;
            transform: translateX(-14px);
        }
        .tumbler.tumbler--dark-mode {
            transform: translateX(calc(100% - 10px))
        }
    }
}

// @media only screen and (min-width: 1100px) and (max-width: 1200px) {
//     .header__wrapper__icon--btn {
//         width: 40px;
//         height: 40px;
//     }
// }

@media only screen and (max-width: 768px) { 
    .header {
        height: 70px;
    }
    .header__wrapper__img {
        padding: 0 20px !important;
    }

    .header__wrapper__icon--btn {
        width: 30px;
        height: 30px;
    }
    .header__wrapper__icon__tumbler .tumbler {
        height: 20px;
        width: 20px;
        transform: translateX(-10px);
    }
}
