.room-single-item {

    padding: 10px 5px;
    text-align: justify;

    h2 {
        border-bottom: 1px solid #ebebeb;
        color: #283a5e;
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 50px;
        margin-top: 0;
        padding-bottom: 20px
    }

    h3 {
        color: #384f7c;
        font-size: 20px;
        line-height: 40px;
        font-weight: 500;   
        margin-bottom: 50px;
    }

    h4 {
        color: #687693;
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
    }
}