.menu {
    position: fixed;
    z-index: 1000000;
    top:0;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 400px;
    transition:  all 0.5s;
    a {
        color: black;
        &:hover {
            color: black;
        }
    }
    
    .menu__header {
        margin: 20px 12px;
    }

    .menu__close {
        text-align: end;
        
        svg {
            cursor: pointer;
            &:hover {
                color:#777777;
            }

        }
    }


    .menu__register {
        a {
            font-size: 16px;
            font-weight: 600;
            padding: 8px 2px;
            margin: 0 10px;
            margin-bottom: 30px;
            border: 1px solid ;
            border-radius: 10px;
        }
        .menu_login {
            border-color:  #eaeaea;

            &:hover {
                border-color: black;
            }

        }

        .menu_sign-up {
            border-color: #0070f3;
            background-color: #0070f3;

            &:hover {
                background-color: white;
            }
        }
        

    }

    .menu__nav--list {
        padding: 0 20px;
        .menu__nav--item {

            font-size: 20px;
            border-bottom: 1px solid #bbb8b8;
            margin-bottom: 20px;
        }
    } 

    
}
@media only screen and (max-width: 768px) {
 .menu {
    width: 100vw;
 }   
}